[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
lxml = "==4.6.3"
zeep = {extras = ["async"],version = "*"}
pypyodbc = "*"
pandas = "*"

[requires]
python_version = "3.7"
